.tabela{
    background-color:whitesmoke;
    margin: auto;
    /* margin: 200px 200px 200px 200px;  */
    /* padding: 50px; */
    /* background-position: center; */
    
}
.titulo{
    color: blue;
}

.libertadores{
    color: green;
}

